/* Reformatting the whole page from 0 and using border box property for sizing */
* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Targets every link element in website */
ul li a {
    text-decoration: none; /*Removes link underlining*/
    color: white;
}

/* Targets list elements */
ul {
    list-style-type: none; /* removes bullet points from list elements*/
}

ol {
    list-style-position: inside;
}

/*Targets every link in title div*/
.title a {
    color: white;
    text-decoration: none;
}

/*Targets title div*/
.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 110, 255, 0.702);
    color: white;
    /* margin-bottom: 20px; */
}

.card {
    text-align: center;
    /* width: 800px; */
    margin: 40px 40px; /*centers the recipe list div*/
    padding: 5px;
    background-color: rgba(0, 110, 255, 0.702);
}

/*targets all h1s in within card class*/
.card h1 {
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 30px;
}

/*Targets items inside recipe list*/
.recipe-list li {
    padding: 40px 0px;
    margin:5px;
    background-color: rgb(151, 197, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Ingredients div */
.ingredients, .steps{
    background-color: rgb(151, 197, 209);
    display: inline-block;
    width: 49%;
    height: 400px; 
    vertical-align: top;
    text-align: left;

}

.ingredients h3, .steps h3 {
    text-align: center;
}
