/* FULL PAGE ELEMENTS */


/* Reformatting the whole page from 0 and using border box property for sizing */
* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


/*  TYPE ELEMENTS */


/* Targets every link element in website */
ul li a {
    text-decoration: none; /*Removes link underlining*/
    color: white;
}

/* Targets all unordered list elements */
ul {
    list-style-type: none; /* removes bullet points from list elements*/
}
/* Targets all ordered list elements */
ol {
    list-style-position: inside; /*puts the list numbers inside div*/
}



/* TITLE */


/*Targets every link in title div*/
.title a {
    color: white;
    text-decoration: none;
}

/*Targets title div*/
.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 110, 255, 0.702);
    color: white;
    /* margin-bottom: 20px; */
}


/* CARD SELECTORS */


/* Targets main card div */
.card {
    text-align: center;
    /* width: 800px; */
    margin: 40px 40px; /*centers the recipe list div*/
    padding: 5px;
    background-color: rgba(0, 110, 255, 0.702);
}

/*targets all h1s in within card class*/
.card h1 {
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 30px;
}

/*Targets items inside index recipe list*/
.index-list li {
    padding: 40px 0px;
    margin:5px;
    background-color: rgb(151, 197, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* RECIPE SELECTORS */


.recipe-container{
    display: inline-flex;
}

/* Ingredients div */
.ingredients, .steps{
    background-color: rgb(151, 197, 209);
    width: 50%; /*sizes each element to 50%*/
    text-align: left;
    padding: 10px;
    margin: 10px;

}

.ingredients h3, .steps h3 {
    text-align: center;
}
